@model List<Pizza>

@{
    ViewData["Title"] = "View";
}

@{
    if (TempData["msg"] != null)
    {
        <div class="alert alert-success">
            <span class="alert-heading">@TempData["msg"]</span>
        </div>
    }
}

@{
    if (Model.Count == 0)
    {
        <div class="alert alert-danger">
            <span class="alert-heading">Parece que seu cardápio ainda não tem nenhuma pizza :(</span>
        </div>
    }
}

<h1>Cardápio de sua pizzaria</h1>
@{
    if (Model.Count != 0)
    {
        <table>
            <tr>
                <th>Nome</th>
                <th>Sabor</th>
                <th>Ingredientes</th>
                <th>É recheada?</th>
                <th>Preço</th>
            </tr>
            @foreach (var pizza in Model)
            {
                <tr>
                    <td>@pizza.Nome</td>
                    <td>@pizza.Sabor</td>
                    <td>@pizza.Ingredientes</td>
                    <td>@(pizza.Recheada ? "Sim" : "Não")</td>
                    <td>R$@pizza.Preco</td>
                    <td>
                        <a asp-action="Atualizar"
                           asp-controller="Pizza"
                           asp-route-id="@pizza.Codigo">
                            Editar
                        </a>
                    </td>
                    <td>
                        <a asp-action="ApagarPizza"
                           asp-controller="Pizza"
                           asp-route-id="@pizza.Codigo">
                            <i class="btn-danger" style="padding: 5px; display: flex">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#fff" viewBox="0 0 24 24">
                                    <path d="M3 8v16h18v-16h-18zm5 12c0
                                  .552-.448 1-1 1s-1-.448-1-1v-8c0-.552.448-1
                                  1-1s1 .448 1 1v8zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-8c0-.552.448-1 1-1s1
                                  .448 1 1v8zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-8c0-.552.448-1 1-1s1
                                  .448 1 1v8zm4-15.375l-.409 1.958-19.591-4.099.409-1.958 5.528 1.099c.881.185 1.82-.742 2.004-1.625l5.204
                                  1.086c-.184.882.307 2.107 1.189 2.291l5.666 1.248z" />
                                </svg>
                            </i>
                        </a>
                    </td>
                </tr>
            }
        </table>
    }
}

<a asp-action="Cadastrar" asp-controller="Pizza" class="btn-link">Cadastrar nova pizza</a>
<a asp-action="Index" asp-controller="Home" class="btn-link">Voltar para home</a>